.header {
  height: rem(64px);
  border-bottom: rem(1px) solid var(--mantine-color-gray-3);
}

.inner {
  height: rem(64px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-family: "Poppins", sans-serif;
  font-size: rem(1.25rem);
/*  font-weight: 500;*/
}
