.banner {
  background-image: url('/banner.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  height: rem(400px);
  padding: rem(6rem);

  color: white;
  font-family: Poppins;
  font-size: rem(4rem);
  font-weight: bold;

  display: flex;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: rem(2rem) 0;
}

.title2 {
  font-family: "Poppins", sans-serif;
  font-size: rem(2rem);
}
